In [1]:
import pandas as pd
import numpy as np

In [2]:
# open csv file
arquivo_csv = 'TABELA_VERDADE.csv'
truth_table = pd.read_csv(arquivo_csv, ';')

In [4]:
truth_table['X1'] = truth_table['X1'].astype(str)
truth_table['X2'] = truth_table['X2'].astype(str)
truth_table['X3'] = truth_table['X3'].astype(str)
truth_table['X4'] = truth_table['X4'].astype(str)

In [5]:
truth_table['X1'] = truth_table['X1'].apply(lambda x: x.split('.')[0] if x != 'nan' else '')
truth_table['X2'] = truth_table['X2'].apply(lambda x: x.split('.')[0] if x != 'nan' else '')
truth_table['X3'] = truth_table['X3'].apply(lambda x: x.split('.')[0] if x != 'nan' else '')
truth_table['X4'] = truth_table['X4'].apply(lambda x: x.split('.')[0] if x != 'nan' else '')

In [6]:
truth_table['INDEX'] = truth_table['X1'] + truth_table['X2'] + truth_table['X3'] + truth_table['X4']

In [7]:
truth_table

   GENE X1 X2 X3 X4  P0  P1 INDEX
0    X1  0     0      1   0    00
1    X1  1     0      0   1    10
2    X1  0     1      1   0    01
3    X1  1     1      1   0    11
4    X2  0  0     1   1   0   001
5    X2  0  0     0   1   0   000
6    X2  1  0     1   1   0   101
7    X2  1  0     0   0   1   100
8    X2  0  1     1   1   0   011
9    X2  0  1     0   0   1   010
10   X2  1  1     1   0   1   111
11   X2  1  1     0   0   1   110
12   X3     0  0      1   0    00
13   X3     0  1      0   1    01
14   X3     1  0      0   1    10
15   X3     1  1      0   1    11
16   X4        0  0   1   0    00
17   X4        0  1   0   1    01
18   X4        1  0   0   1    10
19   X4        1  1   0   1    11

In [8]:
gene_dependencies = {'X1': ['X1' , 'X3'],
                     'X2': ['X1', 'X2' , 'X4'],
                     'X3': ['X2' , 'X3' ],
                     'X4': ['X3' , 'X4']}

In [9]:
states =  ['0000','1111', '1011',  '0111', '1110','1101', '0010', '1000' , '0001' , '0100' , '1010' ,'1100' ,'1001' ,'0110' ,'0101', '0011' ]

In [10]:
probability_matrix = pd.DataFrame([
                   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]],
                   index=states,
                   columns=states)

In [12]:

truth_table[truth_table['GENE'] == 'X1']

  GENE X1 X2 X3 X4  P0  P1 INDEX
0   X1  0     0      1   0    00
1   X1  1     0      0   1    10
2   X1  0     1      1   0    01
3   X1  1     1      1   0    11

In [13]:
def get_gene_truth_table (gene):
    truth_table_gene =  truth_table[truth_table['GENE'] == gene]
    truth_table_gene = truth_table_gene.dropna(axis='columns') 
    return truth_table_gene

In [14]:
tt_gene = get_gene_truth_table('X1')
tt_gene

  GENE X1 X2 X3 X4  P0  P1 INDEX
0   X1  0     0      1   0    00
1   X1  1     0      0   1    10
2   X1  0     1      1   0    01
3   X1  1     1      1   0    11

In [15]:
#gene: gene
#value: expected value for gene
#x1 , x2 , x3 , x4: actual values
def get_gene_probability(gene , value , x1 , x2 , x3 , x4 ):
    tt_gene = get_gene_truth_table(gene)
    search = []
    for dependency in gene_dependencies[gene]:
        if dependency == 'X1':
            search.append(x1) 
        elif dependency == 'X2':
            search.append(x2) 
        elif dependency == 'X3':
            search.append(x3) 
        elif dependency == 'X4':
            search.append(x4)
            
    tt_gene = tt_gene.loc[(tt_gene['INDEX'] == ''.join(search))]
    
    if value == '0':
        return tt_gene.iloc[0]['P0']
    else:
        return tt_gene.iloc[0]['P1']

In [19]:
#P( state_to | state_from) => P( 0000 | 0000 ) = P( X1 = 0 | 0000) * P( X2 = 0 | 0000) * P( X3 = 0 | 0000) * P( X4 = 0 | 0000)  =  1*1 *1*1 = 1
def get_transition_probability_from_state1_to_state2 (state_from, state_to):
    #print(state_from + " : " +state_to)
    x1 = state_from[0]
    x2 = state_from[1]
    x3 = state_from[2]
    x4 = state_from[3]
    
    x1_prob = get_gene_probability('X1' , state_to[0] , x1, x2 , x3 , x4 )
    x2_prob = get_gene_probability('X2' , state_to[1] , x1, x2 , x3 , x4 )
    x3_prob = get_gene_probability('X3' , state_to[2] , x1, x2 , x3 , x4 )
    x4_prob = get_gene_probability('X4' , state_to[3] , x1, x2 , x3 , x4 )
    
   # print("state2[0] " + state2[0])
   # print("x1_prob " + str(x1_prob))
   # print("x2_prob " + str(x2_prob))
   # print("x3_prob " + str(x3_prob))
   # print("x4_prob " + str(x4_prob))

    return x1_prob * x2_prob * x3_prob * x4_prob

In [20]:
for state_from in states:
    for state_to in states:
        probability = get_transition_probability_from_state1_to_state2(state_from, state_to)
        #print('probability: ' + str(probability ) )
        probability_matrix.xs(state_from)[state_to] = probability

In [21]:
probability_matrix

,0000,1111,1011,0111,1110,1101,0010,1000,0001,0100,1010,1100,1001,0110,0101,0011
0000,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1111,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1011,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
0111,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1110,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1101,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
0010,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1000,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
0001,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
0100,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1010,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1100,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1001,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
0110,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
0101,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
0011,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1